body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: #000;
	font-family: sans-serif;
}
.container{
	position : relative
}
.camera{
	position: absolute;
	top: 0;
	opacity: 0;
	transition : all 0.1s ease
}
.camera_video{
	
}
.camera_canvas{
	position: absolute;
	left: 0;
}